.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  margin-top: 50px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
 0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

li
{
    list-style-type: none;

}
.nav
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.l {
  display: inline;
}

.u {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.l {

  float: left;
}

.l button {
  font-size: 18px;
  background-color: black;
  display: block;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.3s;
}

.l button:hover {
  background-color: #111;
  color: white;
    transition-duration: 0.3s;

}


.bord
{
  border: 1px solid black;
  margin: 8px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 3px;
  padding: 20px;

}

@media screen and (min-width: 700px) {

.grid-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
}

@media screen and (max-width: 700px) {

.bord
{
  border: 1px solid black;
  margin: 8px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 3px;
   padding: 20px;
}

.grid-container {
  width: 80%;
}

}

.img{
  border-radius: 4px;
}

.more
{
  
  margin: 10px;
}

.navbuton
{
  border-radius: 50%;
  border:none;
  float: right;
  

}

.more
{
  background-color: black;
  border:none;
  border-radius: 3px;
  color: white;
}

.ptag{
  width: 80%;
  margin-left: 10%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ptag2{
  margin-top: 120px;
  font-size: 12px;
  width: 80%;
  margin-left: 10%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


body {
  height: 100vh;
  margin: 0;
  padding: 1rem;
  display: grid;
  place-items: center;
  font-family: system-ui;
}
h1 {
  background: white;
  padding: 1rem 2rem;
  text-align: center;
}
span {
  display: block;
  padding: 1rem;
  font-size: 1rem;
  font-weight: normal;
  font-family: monospace;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;

}
.grid-item {
  margin-bottom: 10px;
  background-color:   #9966ff;
  padding:5px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-left: 5px;
  text-align: center;
  border-radius: 5px;
  color: white;
}

.grid-container1 {
  display: grid;
  grid-template-columns: auto auto;

}
.grid-item1 {
  margin-bottom: 10px;
  background-color:  white;
  padding:20px;
  text-align: center;
  color: black;
}
.left
{
  text-align: left;
}
.okayy
{
  border: 1px solid black;
  padding: 80px;
}

.gen{
  background-color: cornflowerblue;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.cle{
  background-color: red;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
    float: left;

}

#res{
  padding: 5px;
  height: 16px;
  border-radius: 5px;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
    float: left;

}

.turnleft
{
  text-align: left;
}
.rightturn
{
  text-align: right;
}